API/venv
API/__pycache__
API/activate_venv.txt
API/admin_pass
API/tenant
API/pass
API/client
app/venv
app/__pycache__
app/activate_venv.txt
app/output
app/datalake_files
app/cambiomodel.pt.ckpt
app/cambiomodel.pt.bak
app/ipcamodel.pt.ckpt
app/ipcamodel.pt.bak
app/datalake_files
app/.ipynb_checkpoints
app/admin_pass
app/tenant
app/client
app/pass
app/SQL - CTG.txt
app/dbinfo
crawler/venv
crawler/client
crawler/pass
crawler/tenant